<div 
  *ngFor="let project of projects"
  class="project-block">

  <div class="project-data-block">

    <div class="project-name">{{project.name}}</div>

    <div class="project-links">
      <ng-container *ngFor="let link of project.links; index as i">
        <div
          *ngIf="i && link.url.length"
          class="project-links-separator"></div>
        <a 
          *ngIf="link.url.length"
          class="project-url url-website" 
          href="https://{{link.url}}"
          target="_blank">
          <img 
            class="link-type-icon" 
            src="./assets/img/icons/{{link.icon}}.png" />
          <span>{{link.text}}</span>
          <img 
            class="ext-link-icon" 
            src="./assets/img/icons/external-link.png" />
          <div class="project-link-underline"></div>
        </a>
      </ng-container>
    </div>

    <app-image-carousel
      [images]="project.images"
      [selectedImage]="1">
    </app-image-carousel>

  </div>

  <div 
    class="project-description-block"
    [ngClass]="{'features-hidden-mobile': !project.featuresShown}">
    <p>{{project.description.summary}}</p>
    <div 
      class="project-features-header"      
      (click)="toggleFeatures(project)">
      <span>Features</span>
      <span class="project-features-header-triangle">&#9660;</span>
    </div>
    <ul class="project-features-list">
      <li *ngFor="let f of project.description.features">{{f}}</li>
    </ul>
  </div>

</div>
