// Backgrounds
$bg-page: #111;
$bg-line-dim: #141414;
$bg-line: #1a1a1a;
$bg-block: #1e1e22;
$bg-button: #2c2c2f;
$bg-button-hovered: #333;
$bg-button-selected: #383838;
$bg-selection: hsla(165, 100%, 20%, .5);

// Text
$text-dim: #999;
$text-normal: #aaa;
$text-bright: #a8a8a8;
$text-brighter: #bbb;
$text-selection: #eee;
$text-link: hsl(205, 30%, 50%);

// Borders
$border-normal: #444;

// Shadows 
$shadow-normal: #222;