@font-face {
  font-family: 'Open Sans';
  src: url('../../public/fonts/open-sans.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../../public/fonts/inconsolata.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}