@for (project of projects; track project.id) {
  <div class="project">

    <!-- Project Data Block -->
    <div class="data-block">

      <!-- Name -->
      <div class="project-name">{{project.name}}</div>

      <!-- Links -->
      <div class="project-links">
        @if (project.site) {
          <a app-external-link [href]="project.site" icon="world" text="Website"></a>
        }
        @if (project.site && project.repo) {
          <div class="separator"></div>
        }
        @if (project.repo) {
          <a app-external-link [href]="project.repo" icon="github" text="Repository"></a>
        }
      </div>

      <!-- Images -->
      <app-image-carousel [images]="project.imageData" />

    </div>

    <!-- Project Description Block -->
    <div 
      class="description-block"
      [ngClass]="{'collapsed': project.areFeaturesCollapsed && isMobile()}">

      <!-- Summary -->
      <p>{{project.description.summary}}</p>

      <!-- Feature List Header (Mobile Layout) -->
      @if (isMobile()) {
        <div class="feature-list-header" (click)="toggleFeatures(project)">
          <span>Features</span>
          <span class="triangle">&#9660;</span>
        </div>
      }

      <!-- Features -->
      <ul class="feature-list">
        @for (feature of project.description.features; track $index) {
          <li>{{feature}}</li>
        }
      </ul>

    </div>

  </div>
}
