@use '../../../styles-shared' as *;

:host {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 200px;
}

//=============================================================================
//  Containers
//=============================================================================

.project {
  display: flex;
  justify-content: center;
  width: min(100% - 20px, 1300px);
  margin: 20px auto;
  border-radius: 8px;
  background: $bg-block;
  box-shadow: 0 0 2px 2px $shadow-normal inset;
  @include tablet {
    flex-wrap: wrap;
    margin: 15px auto;
  }
  @include mobile {
    margin: 10px auto;
  }
}

.data-block {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 500px;
  padding: 10px 20px 10px 10px;
  @include tablet {
    padding: 8px;
  }
  @include mobile {
    padding: 5px;
  }
}

.description-block {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 800px;
  padding: 20px 15px 20px 5px;
  letter-spacing: .005em;
  @include tablet {
    padding: 10px 15px 15px 15px;
    font-size: 15px;
  }
  @include mobile {
    padding: 10px 10px 15px 10px;
    font-size: 14px;
  }
}

//=============================================================================
//  Data Block Content
//=============================================================================

.project-name {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  color: $text-brighter;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  font-weight: 300;
  @include mobile {
    font-size: 18px;
  }
}

.project-links {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 15px 10px 20px 10px;
  user-select: none;
  @include mobile {
    margin: 10px;
  }
}

.project-url {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 28px;
  color: $text-link;
  text-decoration: none;
  transition: .3s;
  .link-underline {
    width: 1%;
    border-bottom: 1px dotted $text-link;
    opacity: 0;
    transition: .2s;
    @include mobile {
      margin: 0 12px;
    }
  }
  @include hover {
    filter: hue-rotate(45deg);
    .link-underline {
      width: 100%;
      opacity: 1;
    }
  }
  @include mobile {
    font-size: 14px;
  }
}

.separator {
  height: 100%;
  margin: 0 20px;
  border-right: 1px solid $border-normal;
}

.link-type-icon {
  @include square(18px);
  margin-right: 8px;
}

.ext-link-icon {
  @include square(14px);
  margin-left: 10px;
  @include mobile {
    @include square(12px);
  }
}

//=============================================================================
//  Description Block Content
//=============================================================================

p {
  margin-bottom: 10px;
  @include mobile {
    padding-left: 5px;
  }
}

.feature-list-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3px 10px 5px 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed $border-normal;
  font-size: 16px;
  letter-spacing: .02em;
  user-select: none;
  transition: .2s;
  cursor: pointer;
  .triangle {
    height: 14px;
    margin-left: 20px;
    color: $text-dim;
    font-size: smaller;
    transform: rotateX(180deg) translateY(-3px);
    transition: .2s;
  }
}

.description-block.collapsed .feature-list-header {
  margin-bottom: 0;
  border-radius: 5px;
  border-color: transparent;
  background: $bg-button;
  .triangle {
    transform: rotateX(0deg) translateY(-1px);
  }
}

.feature-list {
  margin: 0 0 0 25px;
  li {
    margin-bottom: 10px;
    padding: 0 5px;
    &:last-of-type {
      margin-bottom: 0;
    }
    @include mobile {
      margin-bottom: 8px;
    }
  }
  @include mobile {
    animation: fade-in .5s;
  }
}

.description-block.collapsed .feature-list {
  display: none;
}
