
<div class="main-block">

  <div class="side-button-container">
    <div 
      class="side-button"
      (click)="previousImage()">&#9664;</div>
  </div>

  <div #scrollTarget class="project-images-container">
    <img 
      *ngFor="let image of images; index as i"
      class="project-image"
      [ngClass]="{'project-image-selected': i == selectedImage}"
      src="{{isOverlay ? image.full : image.small}}"
      alt="{{image.alt}}"
      (click)="toggleOverlay()"/>
    <div class="image-click-blocker"></div>
  </div>

  <div class="side-button-container">
    <div 
      class="side-button"
      (click)="nextImage()">&#9654;</div>
  </div>

</div>

<div class="bottom-buttons-container">
  <div
    *ngFor="let b of images; index as i"
    class="bottom-button"
    [ngClass]="{'button-selected': i == selectedImage}"
    (click)="selectImage(i)">{{i + 1}}</div>
</div>

<div 
  *ngIf="!isOverlay && overlayActive"
  class="full-screen-overlay"
  (click)="toggleOverlay()">
  <app-image-carousel
    [isOverlay]="true"
    [images]="images"
    [selectedImage]="selectedImage"
    (imageChanged)="selectImage($event)"
    (click)="$event.stopPropagation()">
  </app-image-carousel>
</div>
