
body {
  display: flex;
  min-width: 320px;
  background: #111;
  color: #aaa;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

* {
  margin: 0;
  padding: 0;
}

::selection {
  background: hsl(165, 100%, 20%, .5);;
  color: #eee;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
